h1 { color: #9400d3;}
p.sample1 {margin: 30px 30px;padding: 10px;border: medium solid #0301ff;}
p.sample2 {margin: 30px 30px;padding: 10px;border: medium solid #9400d3;}
p.sample3 {margin: 30px 30px;padding: 10px;border: medium solid #f4ff1d;}
